<!-- VIEW MODE -->
<div *ngIf="mode === 'view'">
  <div class="mat-h2">List of Products in the system</div>
  <button mat-mini-fab color="primary" (click)="addProduct()">Add</button>
  &nbsp;
  <button mat-mini-fab color="accent" [disabled]="isMultipleSelected()">
    Edit
  </button>
  &nbsp;
  <button mat-mini-fab color="warn">Delete</button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Select Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- ProductID Column -->
    <ng-container matColumnDef="ProductID">
      <th mat-header-cell *matHeaderCellDef>Product ID</th>
      <td mat-cell *matCellDef="let element">{{ element.ProductID }}</td>
    </ng-container>

    <!-- ProductName Column -->
    <ng-container matColumnDef="ProductName">
      <th mat-header-cell *matHeaderCellDef>Product Name</th>
      <td mat-cell *matCellDef="let element">{{ element.ProductName }}</td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.Quantity }}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef>Price (USD)</th>
      <td mat-cell *matCellDef="let element">{{ element.Price }}</td>
    </ng-container>

    <!-- Created Date Column -->
    <ng-container matColumnDef="CreatedDate">
      <th mat-header-cell *matHeaderCellDef>Created Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.CreatedDate | date: "medium" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>
</div>

<!-- CREATE MODE -->
<div *ngIf="mode === 'create'">
  <div class="mat-h2">Add a product</div>
  <app-create-product (productCreated)="onCreateProduct()"></app-create-product>
</div>
<!-- EDIT MODE -->
<div *ngIf="mode === 'edit'">
  <div class="mat-h2">Edit product</div>
  <app-edit-product></app-edit-product>
</div>
