<div class="mat-h1">
  <div class="example-form">
    Login to IMS
    <mat-form-field
      appearance="fill"
      [floatLabel]="'auto'"
      class="example-full-width"
    >
      <mat-label>Username:</mat-label>
      <input
        #input
        matInput
        placeholder="Your username"
        id="input"
        name="input"
      />
      <mat-icon matSuffix>person_outline</mat-icon>
    </mat-form-field>
    <br />
    <mat-form-field
      appearance="fill"
      [floatLabel]="'auto'"
      class="example-full-width"
    >
      <mat-label>Password:</mat-label>
      <input #password matInput type="password" placeholder="Your Password" />
    </mat-form-field>
    <div class="mat-h4">
      <a href="#" class="mat-h4">Forgot Password?</a> &nbsp;&nbsp;&nbsp;
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="input.value === '' || password.value === ''"
        (click)="login(input.value, password.value)"
      >
        Login
      </button>
    </div>
  </div>
</div>
